@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
   font-family: "IBM Plex Serif", serif;
}

.loading_spinner {
   animation: load-spinner 1700ms;
   animation-iteration-count: infinite;
}

@keyframes load-spinner {
   to {
      transform: rotate(360deg);
   }
}

/* Todo Card */
.todoCard:hover {
   transition: all ease-in-out 200ms;
   transform: scale(1.03);
}


